body {
    margin: 0;
}

#step1 {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background: url('../img/bg1_bw.jpg');
    -webkit-background-size: cover;
    z-index: 1;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
